@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/titles';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/review';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'base/media';
* {
  font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}
.btn_effect {
  overflow: hidden;
  z-index: 1;
  position: relative;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  &:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    display: block;
    width: 45px;
    height: 40px;
    background: #fff;
    border-radius: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: -1;
}    
  &:hover {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    color: #e91e63;
    z-index: 8;
}
  &:hover:before {
    -webkit-transform: scale(8.3);
    transform: scale(8.3);
}
}

.light {
  overflow: hidden;
  z-index: 1;
  position: relative;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  &:hover {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    color: #ffffff;
    z-index: 8;
}
  &:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    -webkit-transform: skewX(-45deg) translateX(0);
    transform: skewX(-45deg) translateX(0);
    -webkit-transition: none;
    transition: none;
}    
  &:hover:before {
    -webkit-transform: skewX(-45deg) translateX(13.5em);
    transform: skewX(-45deg) translateX(22.5em);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
}


