@media (max-width: 1200px) {
  .promo {
    background: radial-gradient( rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7) ), url(../img/bg/bg_top.png) center (center/cover) no-repeat;
    background-position: -80px;
  }
  .header {
    justify-content: space-around;
  }
  .promo__wrapper {
    align-items: center;
  }
}

@media (max-width: 991px) {
  .header {
    &__contacts {
      display: none;
    }
  }
  .promo {
    min-height: 625px;
    padding-bottom: 60px;
    &__wrapper {
      margin-top: 50px;
      }
    &__icons {
      margin-top: 45px;
    }
    }
  .button_main {
    margin-top: 50px;
  }

  .advantages {
    padding: 45px 0 55px 0;
    min-height: auto;
    &__block {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
    }
    &__subtitle {
      margin-top: 15px;
    }
    &__descr {
      margin-top: 10px;
      width: 352px;
    }
  }
  .title_left {
    text-align: center;
    font-size: 30px;
  }
  .consultation__descr {
    text-align: center;
  }
  .feed-form {
    margin: 0 auto;
    margin-top:20px;
  }
  .owl-stage-outer {
    width:600px;
  }
  .owl-carousel .item img {
    width:600px;
  }
  .carousel {
    height:620px;
  }
  .catalog {
    padding-bottom: 70px;
    &__content {
      justify-content: center;
    }
    &-item {
      margin:0 10px 20px 10px;
    }
    &__tabs {
      margin-top: 30px;
    }
    &__tab {
      width: 200px;
      height: 40px;
      line-height: 38px;
    }
    &__content {
      margin-top: 40px;
    }
  }
  .review {
    &__item {
      flex-direction: column;
    }
    &__subtitle {
      text-align: center;
      margin-top: 40px;
    }
    &__text {
      width: 500px;
      margin-left:0;
      span {
        text-align: center;
      }
    }
  }
  }

  @media (max-width: 767px) {
    .promo {
      min-height: 565px;
      padding-bottom: 40px;
      &__header {
        font-size: 35px;
    }
      &__subheader {
        font-size: 20px;
      }
  }
    .advantages {
      padding-bottom: 0;
      &__title {
        font-size: 20px;
      }
    }
    .consultation {
      padding: 50px 0 40px 0;
      min-height: 560px;
      &__descr {
        font-size: 17px;
      }
    }
    .title_left {
      font-size: 27px;
    }
    .owl-stage-outer {
      width:500px;
    }
    .owl-carousel .item img {
      width:500px;
    }
    .carousel {
      height:570px;
    }
    .catalog {
      padding-bottom: 40px;
      
      &__content {
        flex-direction: column;
        align-items: center;
      }
      &__tabs {
        margin-top: 15px;
      }
      &__tab {
        width: 150px;
        height: 40px;
        line-height: 38px;
        font-size: 16px;
      }
      &__content {
        margin-top: 20px;
      }
    }
    .title {
      font-size: 25px;
    }
  }

  @media (max-width: 575px) {
    .header {
      flex-direction: column;
      &__logo {
        width: 280px;
      }
      &__official {
        font-size: 15px;
        margin-top: 15px;
        span {
          font-size: 25px;
        }
      }
    }
    .promo {
      min-height: 530px;
      &__header {
        font-size: 25px;
      }
      &__subheader {
        font-size: 13px;
        margin-top: 0;
      }
      &__icons {
        flex-direction: column;
        margin-top: 30px;
        }
      &__icon {
        margin-top: 20px;
        &:nth-child(3) img {
          padding-left: 10px;
        }
      }
      &__link {
        font-size: 14px;
      }
    }
    .button_main {
      width: 250px;
      font-size: 14px;
    }
    .advantages__descr {
      width: 280px;
    }
    .consultation {
      padding: 30px 0 20px 0;
      min-height: 540px;
      &__descr {
        font-size: 15px;
      }
    }
    .title_left {
      font-size: 22px;
    }
    .owl-stage-outer {
      width:300px;
    }
    .owl-carousel .item img {
      width:300px;
    }
    .carousel {
      height:420px;
    }
    .catalog {
      &__tab {
        width: 100px;
        height: 40px;
        line-height: 38px;
        font-size: 10px;
      }
    }
    .review {
      padding-bottom: 30px;
      &__wrapper {
        margin-top: 25px;
      }
      &__subtitle {
        font-size: 14px;
      }
      &__descr {
        font-size: 12px;
        width:300px;
        margin:0 auto;
      }
      &__text {
        text-align: center;
        span {
          font-size: 10px;
        }
      }
    }
  }
  