.carousel {
  padding: 81px 0;
  height: 770px;
}
.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-200%);
  span {
    display:block;
    width:31px;
    height:50px;
  }
}
.owl-prev {
  span {
    background: url("../../icons/chevron-left-solid.png") no-repeat;
  }
  left: -25px;
}
.owl-next {
  span {
    background: url("../../icons/chevron-right-solid.png") no-repeat;
  }
  right: -25px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  font-size: 0;
  outline: none;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  span{
    transform: scale(1.2);
  }
  background-color: #fff;
}
.owl-stage-outer, .owl-carousel .item img {
  width: 850px;
  margin: 0 auto;
}
.owl-theme .owl-dots .owl-dot.active span {
  background-color:yellow;
}

.owl-theme .owl-dots .owl-dot {
  outline: none;
  span {
    background-color: $main-color;
    height:20px;
    width: 20px;
    outline: none;
    &:hover {
      background-color:red;
    }
  }
}
   
  